<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="../assets/img/favicon-32x32.png">
  <link href="../assets/styles/error.css" rel="stylesheet" />
</head>



<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Error</title>
    <link rel="icon" type="image/png" href="../assets/img/favicon-32x32.png">
    <link href="../assets/styles/error.css" rel="stylesheet" />





<body>
  <div class="lock"></div>
  <div class="message">
    <h1>Error 403</h1>
    <p>Necesitas permisos de administrador</p>
    <a href="../home.php">
      <button>
        <span class="transition"></span>
        <span class="gradient"></span>
        <span class="label">Regresar</span>
      </button>
    </a>
  </div>
</body>
</html>